@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.chart-container {
  width: 100%; /* Set the container width to 100% of its parent element */
  max-width: 1200px; /* You can adjust the max-width to your desired maximum width */
  margin: 0 auto; /* Center the chart container horizontally */
  background: #1a1d29;

}
body{
  background: black
}
